In [8]:
#import os
from pathlib import Path
import pandas as pd
import scipy.stats as stats

In [9]:
melhousing = Path("melb_data1.csv")

In [6]:
melhousing_df=pd.read_csv(melhousing)
melhousing_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03/12/16,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/2/2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/3/2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04/03/17,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/6/2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [65]:
melhousing_df.count()

Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
Method           13580
SellerG          13580
Date             13580
Distance         13580
Postcode         13580
Bedroom2         13580
Bathroom         13580
Car              13518
Landsize         13580
BuildingArea      7130
YearBuilt         8205
CouncilArea      12211
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
dtype: int64

In [66]:
melhousingclean_df=melhousing_df.drop(["BuildingArea","YearBuilt"],axis=1)
melhousingclean_df.count()

Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
Method           13580
SellerG          13580
Date             13580
Distance         13580
Postcode         13580
Bedroom2         13580
Bathroom         13580
Car              13518
Landsize         13580
CouncilArea      12211
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
dtype: int64

In [67]:
melhousingclean_df["CouncilArea"]= melhousingclean_df["CouncilArea"].fillna(method="ffill")

C:\Users\Owner\AppData\Local\Temp\ipykernel_7736\2740069353.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  melhousingclean_df["CouncilArea"]= melhousingclean_df["CouncilArea"].fillna(method="ffill")

In [68]:
melhousingclean_df.count()

Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
Method           13580
SellerG          13580
Date             13580
Distance         13580
Postcode         13580
Bedroom2         13580
Bathroom         13580
Car              13518
Landsize         13580
CouncilArea      13580
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
dtype: int64

In [73]:
melhousingclean_df['Date'] = pd.to_datetime(melhousingclean_df['Date'], dayfirst=True)
print(melhousingclean_df['Date'].dtype)

datetime64[ns]

C:\Users\Owner\AppData\Local\Temp\ipykernel_7736\536560956.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  melhousingclean_df['Date'] = pd.to_datetime(melhousingclean_df['Date'], dayfirst=True)

In [74]:
melhousingclean_df['FormattedDate'] = melhousingclean_df['Date'].dt.strftime('%m/%d/%Y')
print(melhousingclean_df['FormattedDate'])
melhousingclean_df.head(20)

0        12/03/2016
1        02/04/2016
2        03/04/2017
3        03/04/2017
4        06/04/2016
            ...
13575    08/26/2017
13576    08/26/2017
13577    08/26/2017
13578    08/26/2017
13579    08/26/2017
Name: FormattedDate, Length: 13580, dtype: object

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,FormattedDate
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,2016-12-03,2.5,3067,2,1,1.0,202,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,12/03/2016
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,2016-02-04,2.5,3067,2,1,0.0,156,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,02/04/2016
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,2017-03-04,2.5,3067,3,2,0.0,134,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,03/04/2017
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,2017-03-04,2.5,3067,3,2,1.0,94,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,03/04/2017
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,2016-06-04,2.5,3067,3,1,2.0,120,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,06/04/2016
5,Abbotsford,129 Charles St,2,h,941000,S,Jellis,2016-05-07,2.5,3067,2,1,0.0,181,Yarra,-37.8041,144.9953,Northern Metropolitan,4019,05/07/2016
6,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,2016-05-07,2.5,3067,4,2,0.0,245,Yarra,-37.8024,144.9993,Northern Metropolitan,4019,05/07/2016
7,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,2016-10-08,2.5,3067,2,1,2.0,256,Yarra,-37.8060,144.9954,Northern Metropolitan,4019,10/08/2016
8,Abbotsford,6/241 Nicholson St,1,u,300000,S,Biggin,2016-10-08,2.5,3067,1,1,1.0,0,Yarra,-37.8008,144.9973,Northern Metropolitan,4019,10/08/2016
9,Abbotsford,10 Valiant St,2,h,1097000,S,Biggin,2016-10-08,2.5,3067,3,1,2.0,220,Yarra,-37.8010,144.9989,Northern Metropolitan,4019,10/08/2016
10,Abbotsford,411/8 Grosvenor St,2,u,700000,VB,Jellis,2016-11-12,2.5,3067,2,2,1.0,0,Yarra,-37.8110,145.0067,Northern Metropolitan,4019,11/12/2016
11,Abbotsford,40 Nicholson St,3,h,1350000,VB,Nelson,2016-11-12,2.5,3067,3,2,2.0,214,Yarra,-37.8085,144.9964,Northern Metropolitan,4019,11/12/2016
12,Abbotsford,123/56 Nicholson St,2,u,750000,S,Biggin,2016-11-12,2.5,3067,2,2,1.0,0,Yarra,-37.8078,144.9965,Northern Metropolitan,4019,11/12/2016
13,Abbotsford,45 William St,2,h,1172500,S,Biggin,2016-08-13,2.5,3067,2,1,1.0,195,Yarra,-37.8084,144.9973,Northern Metropolitan,4019,08/13/2016
14,Abbotsford,7/20 Abbotsford St,1,u,441000,SP,Greg,2016-05-14,2.5,3067,1,1,1.0,0,Yarra,-37.8016,144.9988,Northern Metropolitan,4019,05/14/2016
15,Abbotsford,16 William St,2,h,1310000,S,Jellis,2016-10-15,2.5,3067,2,1,2.0,238,Yarra,-37.8090,144.9976,Northern Metropolitan,4019,10/15/2016
16,Abbotsford,42 Henry St,3,h,1200000,S,Jellis,2016-07-16,2.5,3067,3,2,1.0,113,Yarra,-37.8056,144.9930,Northern Metropolitan,4019,07/16/2016
17,Abbotsford,78 Yarra St,3,h,1176500,S,LITTLE,2016-07-16,2.5,3067,2,1,1.0,138,Yarra,-37.8021,144.9965,Northern Metropolitan,4019,07/16/2016
18,Abbotsford,196 Nicholson St,3,h,955000,S,Collins,2016-09-17,2.5,3067,3,1,0.0,183,Yarra,-37.8022,144.9975,Northern Metropolitan,4019,09/17/2016
19,Abbotsford,42 Valiant St,2,h,890000,S,Biggin,2016-09-17,2.5,3067,2,1,1.0,150,Yarra,-37.8011,145.0004,Northern Metropolitan,4019,09/17/2016

In [75]:
melhousingclean_df.count()

Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
Method           13580
SellerG          13580
Date             13580
Distance         13580
Postcode         13580
Bedroom2         13580
Bathroom         13580
Car              13518
Landsize         13580
CouncilArea      13580
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
FormattedDate    13580
dtype: int64